<footer class="navbar navbar-expand-lg navbar-light" style="background-color: black; height: 80px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('main') }}" style="color: white; font-weight: bold; text-align: center; display: flex; justify-content: center; align-items: center; height: 80px;">© Streamlink</a>
    </div>
</footer>
