{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}
{% block stylesheets %}
<style>
    body {
        background-image: url('{{ asset('asset/images/Image1.png') }}');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .registration-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .registration-form {
        background-color: white;
        padding: 40px;
        border-radius: 40px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 40%;
        text-align: left;
        min-height: 300px; /* Ajuster la hauteur minimale en fonction du contenu */
    }

    .form-title {
        color: MidnightBlue;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form-field-label {
        color: darkblue;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

    .form-field-input {
        color: darkblue;
        font-weight: bold;
        margin-bottom: 15px;
        display: block;
        width: 100%;
    }

    .btn-primary {
        background-color: MidnightBlue;
    }

    .btn-secondary {
        background-color: transparent;
        border: none;
        color: red; /* Texte en rouge */
        text-decoration: underline; /* Souligner le texte */
        margin-top: 10px; /* Ajuster la marge du bouton "Mot de passe oublié" */
        text-align: right; /* Aligner le texte à droite */
    }
</style>
{% endblock %}
{% block body %}
    <section class="registration-container">
        <div class="registration-form">
            <h2 class="form-title">Réinitialisation de mot de passe</h2>
            <fieldset class="mb-3">
                {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(requestPassForm) }}
            </fieldset>
            </div>
    </section>

{% endblock %}