{% extends 'base.html.twig' %}

{% block body %}
    <h1>Delete Profile</h1>

    <p>Are you sure you want to delete this user: {{ user.lastname }}?</p>

    <script>
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this user?")) {
                // Si l'utilisateur clique sur "OK" dans la boîte de dialogue de confirmation, redirigez vers la page de suppression avec le paramètre "delete"
                window.location.href = "{{ path('user_delete', {'id': user.id, 'delete': 1 }) }}";
            }
        }
    </script>

    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
    <a href="{{ path('admin_index') }}" class="btn btn-secondary">Cancel</a>
{% endblock %}
